{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "adservice.serviceAccountName" . }}
  labels:
{{ include "adservice.labels" . | nindent 4 }}
{{- end -}}
