{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "checkoutservice.serviceAccountName" . }}
  labels:
{{ include "checkoutservice.labels" . | nindent 4 }}
{{- end -}}
