{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "recommendationservice.serviceAccountName" . }}
  labels:
{{ include "recommendationservice.labels" . | nindent 4 }}
{{- end -}}
