{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "productcatalogservice.serviceAccountName" . }}
  labels:
{{ include "productcatalogservice.labels" . | nindent 4 }}
{{- end -}}
