{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "currencyservice.serviceAccountName" . }}
  labels:
{{ include "currencyservice.labels" . | nindent 4 }}
{{- end -}}
